body {
    background: #333;
    color: #cbc;
}
.wrapper {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-areas:
        ". ul ."
        ". form .";
        grid-auto-rows: minmax(200px, auto);
}

.search-form {
    grid-area: form;
    text-align: center;
    margin-top: 50px
}

.search-form input {
    color: #eee;
}

ul {
    list-style: none;
    grid-area: ul;
    text-align: center;
    margin-top: 10px;
}

ul button {
    width: auto;
}