body {
    background: #333;
    color: #cbc;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        ". ul ."
        ". call ."
        ". next .";
    grid-template-rows: 1fr;
}

.search-form {
    grid-area: call;
    text-align: center;
    margin-top: 50px
}

.search-form input {
    color: #eee;
}

ul {
    list-style: none;
    grid-area: ul;
    text-align: center;
    margin-top: 10%;
    display none;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
}

ul li {
    margin: 0px;
}

ul button {
    min-width: 200px;
    width: 100%;
}

button.word.accept {
    background-color: #484;  
    border: 0;  
}

button.word.accept:hover {
    background-color: #864;  
}

button.word.reject {
    background-color: #844; 
    border: 0;   
}

button.word.reject:hover {
    background-color: #648;
}

button.word:hover {
    background-color: #486;
    border: none;
}

button.word {
    transition: background-color 1s;
    border: none;
}

button.next {
    grid-area: next;
    display: none;
}